/**INIT DESLACTOSADA STYLESHEET**/
/*DEFAULTS RESET*/
body{ margin-top:0px; }
.light{ background:#CCC; color:#333; }
.dark{ background:#333; color:#CCC; }
.grid{ text-align:center; font-size:10px; }
.banner{ text-align:center; padding:10px 0; }
.table{ margin-bottom:35px; }
.banner button{ margin-top:7px; }
.divider{ width:100%; background:#CCC; height:1px; margin:25px 0; }
.explainer{ font-weight:200; color:#AAA; margin-bottom:10px; }
button{ margin-bottom:10px; }
.navbar.fixed{ z-index: 10; }
/*GENERALS*/
body/*, body *, **/{  font-family: 'Questrial', sans-serif; }
  .span{ margin: 0 1% 20px 1%; }
.bodyIntro .backstretch img{ margin-top: 0% !important; }
body.internal{ overflow-x: hidden; }

@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster-webfont.eot');
    src: url('../fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster-webfont.woff2') format('woff2'),
         url('../fonts/lobster-webfont.woff') format('woff'),
         url('../fonts/lobster-webfont.ttf') format('truetype'),
         url('../fonts/lobster-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*HEADER*/
  #mainHead{ position: relative; display: block; margin: 0 auto; width: 100%; background: url("../img/head-back-full.png") center -10px repeat-x; }
    #mainHead .wrapHeader{ margin: 0 auto; display: block; max-width: 1200px; width: 100%; height: 320px; /*background: url("../img/head-back.png") center top no-repeat;*/ position: relative; /*border-bottom: 1px dashed blue;*/ }
      #mainHead .wrapHeader:before{ position: absolute; left: 0; top: 0; content: ''; background: url("../img/stars-left.png") left top no-repeat; background-size: cover; width: 583px; height: 600px; opacity: .5 }
      #mainHead .wrapHeader:after{ position: absolute; right: 0; top: 0; content: ''; background: url("../img/stars-right.png") right top no-repeat; background-size: cover; width: 536px; height: 442px; opacity: .5; }
    #mainHead .wrapHeader .titleHead{ position: relative; margin: 0 auto 0; top: 15px; display: block; max-width: 450px; text-align: center; }
      #mainHead .wrapHeader .titleHead img{ width: 100%; height: auto; max-width: 400px; } 
      #mainHead .wrapHeader .titleHead p{ color: #fff; font-family: 'Questrial', sans-serif; font-weight: 300; font-size: 18px; text-align: center; margin-top: 50px; text-shadow: 0px 3px 14px rgba(5,82,180,.7);  }
      #mainHead .wrapHeader .titleHead p strong{  font-family: 'Questrial', sans-serif; font-size: 24px; display: block; font-weight: 400;  }
    #mainCow{ position: absolute; left: 0; top: 0; width: 445px; height: auto; }
      #mainCow img{ max-width: 333px; height: auto; position: relative; z-index: 2; }
      #bright{ display: block; width: 100%; height: 100%; position: absolute; z-index: 1; max-width: 287px; background: url("../img/vaca_home_brillo.png") center center no-repeat; background-size: cover; top: -60px; right: 50px; }
      #mainCow.intCow{ max-width: 350px; pointer-events: none; z-index: 15; }
        #mainCow.intCow img{ max-width: 270px }
      #mainCow.intCow #bright{ display: block; width: 100%; height: 100%; position: absolute; z-index: 1; max-width: 155px; background: url("../img/vaca_publiaciones_brillo.png") center center no-repeat; /*background-size: cover;*/ top: 12px; right: 50px; }
      #mainCow.intCow.toSideLeft, #mainCow.intCow.toSideRight{ z-index: 10;
          /*-webkit-transition:all 1s linear; -o-transition:all 1s linear; -moz-transition:all 0.3s linear; -ms-transition:all 1s linear; transition:all 1s linear;*/ }
      #mainCow.intCow.toSideLeft{ /*left: 0;*/ right: auto; max-width: 200px;
          -webkit-transform-origin: 45% 50%;
          -moz-transform-origin: 45% 50%;
          -ms-transform-origin: 45% 50%;
          transform-origin: 45% 50%;
          -moz-transform: scaleX(1);
          -webkit-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
          -ms-filter: fliph; /*IE*/
          filter: fliph; /*IE*/
       }
        #mainCow.intCow.toSideLeft #bright{ right: -80px; }
      #mainCow.intCow.toSideRight{ /*right: 0;*/ left: auto;  max-width: 200px;
        -webkit-transform-origin: 55% 50%;
          -moz-transform-origin: 55% 50%;
          -ms-transform-origin: 55% 50%;
          transform-origin: 55% 50%;
          -moz-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          transform: scaleX(-1);
          -ms-filter: fliph; /*IE*/
          filter: fliph; /*IE*/
       }
        #mainCow.intCow.toSideRight #bright{ right: -82px; }
  #mainCow.intCow.easeTwn{ -webkit-transition:ease-in; -webkit-transition:ease-in; -ms-transition:ease-in; transition:ease-in; }

  /*MODAL COW*/
    #cowOnModl{ position: fixed; left: 0; top: 0; z-index: 990 }
      #cowOnModl #mdlCow #shadw{ position: absolute; z-index: 1; width: 300px; background: url("../img/backMdlCow.png") center top no-repeat; height: 100%; left: 20px; top: -10px; }
      #cowOnModl #mdlCow img{ max-width: 250px; height: auto; position: relative; z-index: 2; padding-bottom: 230px; position: relative;left: 70px; top: 10px; }
      #cowOnModl #mdlCow #bright{ display: block; width: 100%; height: 100%; position: absolute; z-index: 1; max-width: 155px; background: url("../img/vaca_publiaciones_brillo.png") center top no-repeat; /*background-size: cover;*/ top: 80px; right: -85px; }

/*FOOTER*/
  #mainFoot{ position: fixed; bottom: 0; width: 100%; left: 0; right: 0; text-align: center; }
    #mainFoot p{ color: #fff; font-size: 13px; font-family: 'Questrial', sans-serif; text-shadow: 1px 2px 2px rgba(255,255,255,.2); margin: 10px auto 8px; }
     #mainFoot:before{ position: absolute; left: 0; bottom: 0; width: 208px; height: 123px; background: url("../img/foot-alqueria-logo.png") left bottom no-repeat; content: ''; }
       #mainFoot:after{ position: absolute; right: 0; bottom: 0; width: 204px; height: 124px; background: url("../img/foot-product-logo.png") left bottom no-repeat; content: ''; }
    span.pipe{ display: inline-block; margin: 0 10px; }
     #mainFoot p a{ color: #fff; text-decoration: underline; font-size: 12px; }
/*INTRO*/
  .ruleNumber{ position: relative; display: inline-block; }
    .ruleNumber figcaption{ text-align: center; font-family: 'Questrial', sans-serif; font-size: 15px; color: #fff; text-shadow: 1px 2px 4px rgba(0,0,0,.5); line-height: 1.1em;  }
      .ruleNumber img{ width: 100%; height: auto; }
    .block-to-middle{ position: relative; }
    .block-to-middle .banner.row{ margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
    #rl-Numbr-1, #rl-Numbr-2, #rl-Numbr-3{ position: relative; }

  /*HELPERS*/
    .v-wrap{
        height: 100%;
        white-space: nowrap;
        text-align: center;
    }
    .v-wrap:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        /* adjust for white space between pseudo element and next sibling */
        margin-right: -.25em;
        /* stretch line height */
        height: 100%; 
    }
    .v-box{
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }
    /*SLIDER ON MOBILE*/
      #owl-intro-rules .item img{ display: block; width: 100%; height: auto; }
      .owl-theme .owl-controls .owl-page span{ background-color: transparent; border: 2px solid #fff; opacity: 1 }
      .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{ background-color: #fff; }

  /*MAIN INTRO-CTA*/
    #mainCTA{ display: block; text-align: center; max-width: 410px; margin: 0 auto; margin-bottom: 0px; }
       #mainCTA img{ width: 100%; height: auto; }
       #mainCTA { transition: all 350ms ease-in-out; }
      #mainCTA:hover { transform: scale(1.1); }

/*MODALS*/
.remodal{ -o-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.39);
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.39); }
  .remodal.story-mdl{ max-width: 450px; padding: 8px 8px; }
  .remodal-overlay{ z-index: 900; background-color: rgba(33, 36, 46, 0.65); }
  .remodal-wrapper{ z-index: 950 }
  .remodal-close{ left: auto; right: -15px; width: 47px; height: 47px; top: -20px; background: #fff; }
  .remodal-close:after{ color: #db1917; margin-top: 10px; font-weight: bold; }
  .remodal-close:hover, .remodal-close:active { background: #db1917; }
  .remodal-close:hover:after{ color: #fff; }
    /*MODAL MESSAGES*/
      .remodal.messages-mdl, .remodal.messages-mdl .remodal.story-mdl{ padding: 0; max-width: 580px; }
        .remodal.story-mdl img{ max-width: 100%; height: auto; }
        .remodal.messages-mdl.reward-mdl .remodal-close, .remodal.messages-mdl.tryagain-mdl .remodal-close{ visibility: hidden; }
      .remodal.messages-mdl{ position: relative; padding-bottom: 40px; }
      /*.remodal.messages-mdl*/ .header-modal-deslactosada{ position: relative; display: block; text-align: center; width: 100%; background: url("../img/head-back.png") center top no-repeat; background-size: cover; min-height: 152px; margin-bottom: -30px; }
        .header-modal-deslactosada hgroup{ max-width: 200px; margin: 0 auto; }
          .header-modal-deslactosada hgroup img{ width: 100%; height: auto; margin-top: 7px; } 
        h2.mdl-subtitles{ font-family: 'Questrial', sans-serif;  font-size: 20px; font-weight: bold; color: #000000; }
        .messages-mdl p{ text-align: center; font-size: 15px; font-family: 'Questrial', sans-serif; color: #808285; }
        .messages-mdl p.intro{ font-size: 16px; font-weight: bold }
        .the-twit-message{ display: block; border:1px solid #d1d3d4; padding: 15px; width: 100%; max-width: 450px; text-align: left; margin: 15px auto; }
          .the-twit-message, .the-twit-message p{ text-align: left; font-size: 14px; color: #6d6e71; font-family: 'Questrial', sans-serif; }
            .the-twit-message .hash{ color: #27aae1; }
            .the-twit-message .link{ font-weight: bold; margin: 0 3px; } 
          .img-to-share{ display: block; margin: 0 auto; max-width: 300px; }
            .img-to-share img{ width: 100%; height: auto; }

    /*FORMS*/
      .frm-deslactosada{ max-width: 360px; margin: 15px auto; text-align: left; }
        .frm-deslactosada fieldset{ border: none; padding-bottom: 2px; }
        .frm-deslactosada .inpts-frm input, .frm-deslactosada .inpts-frm select{ border:1px solid #d1d3d4; color: #808285;  font-family: 'Questrial', sans-serif; font-size: 14px; text-align: left; width: auto; min-width: 300px; padding: 12px 10px; display: block; }
            .frm-deslactosada .inpts-frm select.to100{ width: 100%; min-width: 322px; max-width: 322px; }
        .frm-deslactosada .inpts-frm input.toThree, .frm-deslactosada .inpts-frm select.toThree{ width: 25%;
  margin-right: 3px; display: inline-block; min-width: 80px; max-width: 80px; }
        .frm-deslactosada .inpts-frm select.toThree{ width: 30%; min-width: 102px; max-width: 102px; }
          .frm-deslactosada .inpts-frm select option{ color: #808285 }
          .chckTrms{ font-size: 12px; color: #808285; display: inline-block; }
          .chckTrms input[type="checkbox"]{ display: inline-block; min-width: 30px; max-width: 30px; }
            .chckTrms a{ text-decoration: underline; color: #ed1c2e; font-size: 13px; }
      /*TAGGABLE FBK*/
      .tggbl-friends{ display: block; width: 100%; max-width: 500px; margin: 15px auto; text-align: left;  }
        .tggbl-friends .contentToScroll{ max-height: 200px; overflow-y: auto; }
          .tggbl-friends fieldset{ display: inline-block; width: 47%; margin: 0; margin-bottom: 15px; padding: 0; border:none; max-width: 240px; }
          .tggbl-friends input[type="checkbox"]{ vertical-align: top; position: relative; top: 20px; }
          .tggbl-friends .tagFrnd{ display: block; vertical-align: top; }
          .tggbl-friends .avtrFbk{ display: inline-block; width: 50px; height: 50px; background-color: #e6e7e8; max-width: 50px; max-height: 50px; vertical-align: top; margin-left: 5px; }
            .tggbl-friends .avtrFbk img{ width: 100%; min-height: auto; }
            .tggbl-friends .nameFbk{ font-family: 'Open Sans', sans-serif; font-size: 14px; color: #231f20; font-weight: bold; position: relative; top: 15px; margin-left: 5px;  }
      /*SEARCH FBK*/
      .frm-deslactosada.srch-frnds{ display: block; position: relative; width: 100%; max-width: 500px; margin-top: 10px; }
       .search-friend{ /*float: right; width: 50%;*/ display: block; width: 100%; margin: 0 auto; }

        .frm-deslactosada.srch-frnds .lbl-frnds-slct{ position: relative; top: 10px; font-family: 'Open Sans', sans-serif; font-size: 13px; color: #808285; font-weight: normal; position: relative; top: 15px; margin-left: 5px; }
          .frm-deslactosada.srch-frnds .lbl-frnds-slct input[type="checkbox"]{ margin-right: 5px; position: relative; top: 2px; }
        .frm-deslactosada.srch-frnds .inpts-frm .search-icon-input{ /*max-width: 220px;*/ min-width: 220px; background: #fff url("../img/icon-search.png") 8px center no-repeat; padding-left: 30px; max-width: 90%; width: 90%; }

      /*.contentToScroll{ overflow: auto; height: 400px;
         -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }*/
      /*SCROLL BARS*/

      /*BTNS*/
      .ctas-mdl-wrap{ position: absolute; display: block; width: 100%; max-width: 440px; margin: 0 auto; bottom: -15px; text-align: center; left: 0; right: 0; }
        .cta-btn-mdl-msg{ display: inline-block; width: 44%; margin-left: 5px; margin-right: 5px; text-align: center; color: #fff; font-family: 'Questrial', sans-serif; font-size: 14px; padding: 14px 0; border-radius: 5px; min-width: 200px; max-width: 200px;
            -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.44);
            -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.44);
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.44); }
              .cta-btn-mdl-msg:hover{ text-decoration: none; color: #fff; }
          .cta-btn-mdl-msg.btn-blue{ background-color: #0451b2; }
            .cta-btn-mdl-msg.btn-blue:hover{ background-color: #013576 }
          .cta-btn-mdl-msg.btn-red{ background-color: #ed1c2e; }
            .cta-btn-mdl-msg.btn-red:hover{ background-color: #c61121; }
            .cta-btn-mdl-msg.more-width{ width:54%; min-width:270px; max-width:270px; }

    /*PLAYER*/
    audio:not([controls]){ display: block; height: 70px; width: 200px }
      .simple-player-container {
          display: inline-block;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
      }
      .simple-player-container > div > ul {
          margin: 0;
          padding-left: 0;
      }
      .simpleplayer-play-control {
          background-image: url('../img/play-alq.png');
          display: block;
          width: 50px;
          height: 50px;
          bottom: -5px;
          position: relative;
      }
      .simpleplayer-play-control:hover {
          background-image: url('../img/playing-alq.png');
      }
      .simpleplayer-stop-control {
          background-image: url('../img/stop-alq.png');
          display: block;
          width: 50px;
          height: 50px;
          bottom: -5px;
          position: relative;
      }
      .simpleplayer-stop-control:hover {
          background-image: url('../img/stoped-alq.png');
      }
    /*CUSTOMS*/
    .audio-figure-toShare{ position: relative; max-width: 420px; margin: 0 auto;  }
      .audio-figure-toShare img{ width: 100%; height: auto; }
        .progressbar-wrapper{ position: relative; top: -18px; left: -5px; }
        .simple-player-container{ background-color: #fff !important; position: relative; top: -18px; }
        .simpleplayer-play-control, .simpleplayer-stop-control{ margin-right: 20px; }
        .avatar-audio{ position: relative; display: inline-block; /*float: left;*/ width: 80px; height: 80px; }
          .avatar-audio img{ width: 100%; min-height: 100%; }
      .audio-figure-toShare figcaption{ position: absolute; bottom: 0; background-color: #fff; width: 100%; padding: 0; padding-top: 10px; }
          .remodal.story-mdl .audio-figure-toShare figcaption{ position: relative; }

    /*TERMS*/
      .terms-hr{ display: block; margin: 10px auto 15px; height: 2px; background-color: #d1d3d4; border: none; outline: none; max-width: 330px; }
        .terms-box{ font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 13px; color: #6d6e71; text-align: left; }
          .terms-box h5{ display: block; color: #231f20; font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 15px; margin-bottom: 5px; }
          .terms-box h6{ display: inline-block; font-weight: bold; color: #231f20; font-family: 'Open Sans', sans-serif; font-size: 14px; } 
            .terms-box{ max-height: 300px; overflow: scroll; padding: 5px 15px; margin: 0 25px; }

  /*CTAs*/
  .btnModalToShare{ position: relative; display: inline-block; width: 40%; vertical-align: top; text-align: center; color: #fff;
    font-family: 'Questrial', sans-serif; font-size: 16px; }
      .btnModalToShare strong{ position: relative; top: -8px; font-weight: normal; }
    /*INTO MODAL*/
    .btnModalToShare, .btnModalToShare *, .btnModalToShare:hover{ -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;  }
    .btnModalToShare.btn-fbk-ico{ background-color: #3b5999; color: #fff; border-radius: 5px; padding: 5px 20px; }
      .btnModalToShare.btn-fbk-ico:hover{ background-color: #1f3f83; }
      .btnModalToShare.btn-fbk-ico span.iconNet{ display: inline-block; position: relative; width: 30px; height: 30px; background: transparent url("../img/btn-fbk-ltter.png") center center no-repeat; }
    .btnModalToShare.btn-twt-ico{ background-color: #5eaade; color: #fff; border-radius: 5px; padding: 5px 20px; }
      .btnModalToShare.btn-twt-ico:hover{ background-color: #3388c2; }
      .btnModalToShare.btn-twt-ico span.iconNet{ display: inline-block; position: relative; width: 30px; height: 30px; background: transparent url("../img/btn-twt-ltter.png") center center no-repeat; margin-left: 5px; }
    .btnModalToShare.cta-fbk-mdl, .btnModalToShare.cta-twt-mdl{ margin-top: 5px; }

/*COUNTER*/
  #counter{ position: absolute; /*right: 105px;*/ right: 12%; top: 40px; display: block; }
    #counter h3{ position: relative; text-align: center; display: block; font-size: 14px; color: #fff; font-family: 'Questrial', sans-serif; margin: 10px auto }
  #counter ul{ display: block; list-style: none; text-align: center; }
    #counter ul li{ display: inline-block; margin: 3px 1px; background: url("../img/counter-num-bg.png") center center no-repeat; padding: 0; opacity: 0; }
       #counter ul li.twnn{ padding: 2px 10px 5px 9px; opacity: 1; -webkit-transition:all .4s ease-out; -o-transition:all .4s ease-out; -moz-transition:all .4s ease-out; -ms-transition:all .4s ease-out; transition:all .4s ease-out; }
      #counter ul li p{ vertical-align: middle; display: none; color: #c92833;  font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 25px; }
    /*ON MODAL*/
      .remodal #counter{ position: relative; right: auto; left: auto; top: 0; margin: 10px auto -3px; height: 77px }
       .remodal #counter ul li{ margin: 0px 1px; background-image: url("../img/counter-num-mdl-bg.png"); }
          .remodal #counter ul li.twnn{ padding: 4px 14px 7px 12px; }
          .remodal #counter ul li p{ font-size: 250% }

/*GRID PIN HISTORIES*/ 
 #deslactosadaGrid{ position: relative; }
  /** Grid container */
    #gridHistories{ position: relative; list-style-type: none; margin: 0; margin-bottom: 20px; }
    /** Grid items */
    #gridHistories li { display: block; margin-bottom: 15px; width: 280px; background-color: #ffffff; display: none; cursor: default; border: 2px solid #fff; }
    #gridHistories li .story img{ width: 100%; min-width: 200px; }
       #gridHistories li .story .wrapImgIcoCont .iconTypeCont{ bottom: 0px; }
       #gridHistories li img { display: block; margin: 0; }
       #gridHistories li img.story-pin-img{ max-width: 286px; height: auto; }
    .story{ position: relative; z-index: 0; }
      .story a:first-child{ position: relative; }
    .story .story-pin-img{ position: relative; z-index: 1; }
    .story figcaption.ctasOnHov{ position: absolute; width: 100%; height: 100%; z-index: 2; top: 0; /*line-height: 100; display: flex; justify-content: center; /* align horizontal align-items: center; align vertical */ opacity: 0; cursor: pointer;
        background-color: rgba(0,0,0,0); 
        -webkit-transition:all .4s ease-out; -o-transition:all 1s ease-out; -moz-transition:all 0.4s ease-out; -ms-transition:all .4s ease-out; transition:all .4s ease-out; }
        /*.boxPrnt {display: table; }
        .boxChld { display: table-cell; vertical-align: middle; }*/
        .boxPrnt { position: relative; width: 100%; height: 100%; }
        .boxChld { position: absolute; top: 50%; left: 50%; height: 30%; width: 80%; margin: -30% 0 0 -40%; }
      .story:hover figcaption.ctasOnHov{ opacity: 1; background-color: rgba(0,0,0,.6); 
        -webkit-transition:all .4s ease-out; -o-transition:all 1s ease-out; -moz-transition:all 0.4s ease-out; -ms-transition:all .4s ease-out; transition:all .4s ease-out; }
      .story figcaption.ctasOnHov .boxPrnt{
          -webkit-transform: scale(0.9, 0.9);
          -mox-transform: scale(0.9, 0.9);
          -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-transition:all .4s ease-out; -o-transition:all .4s ease-out; -moz-transition:all 0.4s ease-out; -ms-transition:all .4s ease-out; transition:all .4s ease-out; }
      .story:hover figcaption.ctasOnHov .boxPrnt{ 
          -webkit-transform: scale(1);
          -mox-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition:all .2s ease-out; -o-transition:all .2s ease-out; -moz-transition:all 0.2s ease-out; -ms-transition:all .2s ease-out; transition:all .2s ease-out; }

      .ctasOnHov .ctasOnHov ul li{ display: block; list-style: none; }
      .ctasOnHov a.btn-toHov-mdl{ position: relative; display: block; background-color: #000; margin: 8px auto; padding: 8px 15px; color: #fff; font-family: 'Questrial', sans-serif; font-size: 16px; border-radius: 5px; -webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.5); -moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.5); box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.5); }
      .ctasOnHov a.btn-toHov-mdl.icoSrch{ background: #ed1c2e url('../img/sprt-icons-ctas.png') 90% 12px no-repeat; }
        .ctasOnHov a.btn-toHov-mdl.icoSrch:hover{ background-color: #c61121 }
      .ctasOnHov a.btn-toHov-mdl.icoFbk{ background: #3b5998 url('../img/sprt-icons-ctas.png') 80% -22px no-repeat; }
        .ctasOnHov a.btn-toHov-mdl.icoFbk:hover{ background-color: #2a4376 }
      .ctasOnHov a.btn-toHov-mdl.icoTwt{ background: #5ea9dd url('../img/sprt-icons-ctas.png') 75% -55px no-repeat; }
        .ctasOnHov a.btn-toHov-mdl.icoTwt:hover{ background-color: #4b8fbe }

/*INFINITE MOVE´s*/   
    #mainCow, .tweenFloat { -webkit-animation: floatCow 4s; /*-webkit-animation-delay:2s;*/ -webkit-animation-iteration-count: infinite;
                  -moz-animation: floatCow 4s; /*-moz-animation-delay:2s;*/ -moz-animation-iteration-count: infinite;
                  -ms-animation: floatCow 4s; /*-ms-animation-delay:2s;*/-ms-animation-iteration-count: infinite;
                  -o-animation: floatCow 4s; /*-o-animation-delay:2s;*/ -o-animation-iteration-count: infinite;
                  animation: floatCow 4s; /*animation-delay:2s;*/ animation-iteration-count: infinite; }

        @-webkit-keyframes floatCow  {  0%  { top: -15px; }  50%  { top: 5px; } 100% { top: -15px; }  }
        @-moz-keyframes floatCow  {  0%  { top: -15px; } 50%  { top: 5px; }  100% { top: -15px; }  }
        @-ms-keyframes floatCow  { 0%  { top: -15px; }  50%  { top: 5px; } 100% { top: -15px; } }
        @-o-keyframes floatCow  { 0%  { top: -15px; }  50%  { top: 5px; } 100% { top: -15px; } }
        @keyframes floatCow  {  0%   { top: -15px; }  50%  { top: 5px; } 100% { top: -15px; } }
    /*STARS*/
    #mainCow #bright, #cowOnModl #mdlCow #bright{
        -webkit-animation: brightTheLight 4s ease-out;
        -webkit-animation-iteration-count: infinite; 
        -webkit-transform-origin: 50% 30%;
        -moz-animation: brightTheLight 4s ease-out;
        -moz-animation-iteration-count: infinite; 
        -moz-transform-origin: 50% 30%;
        -ms-animation: brightTheLight 4s ease-out;
        -ms-animation-iteration-count: infinite; 
        -ms-transform-origin: 50% 30%;
        animation: brightTheLight 4s ease-out;
        animation-iteration-count: infinite; 
        transform-origin: 50% 30%;
        opacity: 0.0 }
    #mainCow.intCow #bright{
        -webkit-transform-origin: 65% 50%;
        -moz-transform-origin: 65% 50%;
        -ms-transform-origin: 65% 50%;
        transform-origin: 65% 50%;
     }  
        #cowOnModl #mdlCow #bright{
          -webkit-transform-origin: 65% 15%;
          -moz-transform-origin: 65% 15%;
          -ms-transform-origin: 65% 15%;
          transform-origin: 65% 15%;
        }
      
      @-webkit-keyframes brightTheLight {
          0% {-webkit-transform: scale(0.8, 0.8); -webkit-transform: rotate(0deg); opacity: 0.0;}
          50% {opacity: 1.0;}
          100% {-webkit-transform: scale(1.2, 1.2); -webkit-transform: rotate(40deg); opacity: 0.0;}
      }
      @-moz-keyframes brightTheLight {
          0% {-moz-transform: scale(0.8, 0.8); -moz-transform: rotate(0deg); opacity: 0.0;}
          50% {opacity: 1.0;}
          100% {-moz-transform: scale(1.2, 1.2); -moz-transform: rotate(40deg); opacity: 0.0;}
      }
      @-ms-keyframes brightTheLight {
          0% {-ms-transform: scale(0.8, 0.8); -ms-transform: rotate(0deg); opacity: 0.0;}
          50% {opacity: 1.0;}
          100% {-ms-transform: scale(1.2, 1.2); -ms-transform: rotate(40deg); opacity: 0.0;}
      }
      @keyframes brightTheLight {
          0% {transform: scale(0.8, 0.8); transform: rotate(0deg); opacity: 0.0;}
          50% {opacity: 1.0;}
          100% {transform: scale(1.2, 1.2); transform: rotate(40deg); opacity: 0.0;}
      }

      /*ADDED FILTERING*/
      hgroup.titFltr{ position: relative; display: block; text-align: center; margin: -100px auto 20px; }
        hgroup.titFltr h1, hgroup.titFltr h2{ color: #fff; font-family: 'Questrial', sans-serif; text-shadow: 0px 3px 14px rgba(5,82,180,.7); }
        hgroup.titFltr h1{ font-weight: 300; font-size: 18px; text-align: center; margin-top: 30px; margin-bottom: 0 }
        hgroup.titFltr h2{ display: block; font-size: 24px; font-weight: 400; }
      #filterHeads{ position: relative; display: block; width: 100%; margin-bottom: 20px; max-height: 53px; }
        #filterHeads ul{ display: inline-block; margin: 5px 1%; max-width: 20%; vertical-align: top; }
        #filterHeads ul.filterCombo{ min-width: 35%; position: relative; z-index: 1; }
        #filterHeads ul li{ list-style: none; display: block; }
          #filterHeads ul li.btnFilter{ background: #fff; border-radius: 5px; box-shadow: 
            -o-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
            -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.39);
            box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.39); }
          #filterHeads ul li.btnFilter a{ display: block; color: #006cb2; font-size: 16px; font-weight: bold; font-family: 'Questrial', sans-serif; text-align: left; padding: 5px 20px 5px 25px; position: relative; }
             #filterHeads ul li.btnFilter .dropDown a{ padding-left: 20px; padding-right: 15px; }
            #filterHeads ul li.btnFilter a span.circ{ display: inline-block; width: 16px; height: 16px; position: relative; border-radius: 8px; background-color: #0b6db4; font-family: sans-serif; margin: 7px 0 0 8px; top: 2px; }
              #filterHeads ul li.btnFilter a span.circ.inctv{ border-radius: 10px; border: 3px solid #0b6db4; background-color: transparent; width: 10px; height: 10px;  border-radius: 10px;  margin: 6px 0 0 8px; top: 2px; }
          .filterCombo .dropDown{ position: relative; }
          .filterCombo .dropDown a.actvEmoji{ display: block; background: url("../img/dropArrowFilt.png") 93% -28px no-repeat; font-family: 'Questrial', sans-serif; font-size: 18px; padding: 3px 9px; color: #575757; 
            -webkit-transition: none; -o-transition: none; -moz-transition: none; -ms-transition: none; transition: none; }
          #filterHeads ul.filterCombo .dropDown ul{ display: none; width: 100%; float: left; top: 0px; position: relative; left: 0; overflow: hidden; background-color: rgba(255,255,255,.8); height: 100%; padding: 0px 0 5px; }
          #filterHeads .filterCombo .dropDown ul{ width: 100%; max-width: 100%; margin: 0; padding: 0; position: relative; z-index: -1; }
            .filterCombo .dropDown ul li{ display: block; list-style: none; text-align: left; } 
            #filterHeads .filterCombo .dropDown ul li a{ padding: 3px 0px 0; color: #006cb2; text-decoration: none; display: block; font-weight: normal; padding-left: 20px; webkit-transition:all .2s ease-out; -o-transition:all .2s ease-out; -moz-transition:all 0.2s ease-out; -ms-transition:all .2s ease-out; transition:all .2s ease-out;  }
            #filterHeads .filterCombo .dropDown ul li a:hover{ color: #fff; background-color: #006cb2; webkit-transition:all .2s ease-out; -o-transition:all .2s ease-out; -moz-transition:all 0.2s ease-out; -ms-transition:all .2s ease-out; transition:all .2s ease-out;   }
                .filterCombo .dropDown ul li a:hover{ color: #ca1642; }
             .filterCombo a.actvEmoji.open{ background-position: 93% 8px; } 
            /*EMOJIS*/
              .emoji{ background: transparent url("../img/emojisSprite.png") left top no-repeat;   display: inline-block; width: 30px;
  height: 25px; position: relative; top: 4px; margin-bottom: -3px; margin-right: 8px; }
                .emoji.emo-1{ background-position: left -5px; }
                .emoji.emo-2{ background-position: left -37px; }
                .emoji.emo-3{ background-position: left -69px; }
                .emoji.emo-4{ background-position: left -105px; }
                .emoji.emo-5{ background-position: left -139px; }
                .emoji.emo-6{ background-position: left -170px; }
                .emoji.emo-7{ background-position: left -204px; }
                .emoji.emo-8{ background-position: left -239px; }
                .emoji.emo-9{ background-position: left -273px; }
                .emoji.emo-10{ background-position: left -305px; }
                .emoji.emo-11{ background-position: left -338px; }
                .emoji.emo-12{ background-position: left -372px; }
                .emoji.emo-13{ background-position: left -406px; }
                .emoji.emo-14{ background-position: left -338px; }
                .emoji.emo-15{ background-position: left -468px; }
 
          /*AUDIO PLAY HERE*/
      .audio-embed-toplay{ position: relative; max-width: 100%; margin: 0 auto; z-index: 0  }
        /*.audio-embed-toplay{ max-height: 55px; overflow: hidden; }*/
        /*.progressbar-wrapper{ position: relative; top: -18px; left: -5px; }*/
        .audio-embed-toplay .simple-player-container{ background-color: transparent !important; position: relative; top: -5px; float: right; max-width: 210px; padding-top: 0 !important; max-height: 50px; }
        .audio-embed-toplay .avatar-audio{ position: relative; display: inline-block; float: left; width: 55px; height: 55px; }
          .audio-embed-toplay .avatar-audio img{ width: 100%; min-height: 100%; }
          #gridHistories li .audio-embed-toplay .simple-player-container ul li{ width: 100%; padding: 0 0px !important; border: none; margin-bottom: -30px; background-color: transparent;  }
            .audio-embed-toplay .progressbar-wrapper{ float: right; margin-top: 15px; margin-bottom: 0px !important; }
        .audio-embed-toplay .mp3toAudioPlay{ position: absolute; bottom: 0; background-color: #fff; width: 100%; padding: 0; padding-top: 10px; }
        .story.tipe-audio .boxChld{ width: 90%; margin: -22% 0 0 -45%; }
        .story.tipe-audio .btn-toHov-mdl.icoFbk, .story.tipe-audio .btn-toHov-mdl.icoTwt{ display: inline-block; max-width: 75%; min-width: 37%; text-align: left; font-size: 14px; }
        .story.tipe-audio .btn-toHov-mdl.icoFbk{ background-position: 95% -22px; }
        .story.tipe-audio .btn-toHov-mdl.icoTwt{ text-align: center; background-position: 95% -55px; }

  .internal #mainFoot{ position: relative; padding-bottom: 10px; }
   .internal #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
    .bgInternalCSS{ background-color: #798C3B; background-image: url("../img/bgMainDeslactosada-grass.jpg"); background-repeat: no-repeat; background-position: center bottom; }
    body.bodyIntro.bgInternalCSS{ background-repeat: repeat-y !important;  }

    /*VISUAL UPDATES*/
      .ruleNumber figcaption{ color: #3c4458; background: rgba(255,255,255,.4); padding-top: 20px; padding-bottom: 20px; border-radius: 10px; font-weight: bold; text-shadow: none; border: 1px solid rgba(255,255,255,.4); 
          -webkit-box-shadow: 0px 0px 17px 3px rgba(4,84,186,.23);
          -moz-box-shadow: 0px 0px 17px 3px rgba(4,84,186,.23);
          box-shadow: 0px 0px 17px 3px rgba(4,84,186,0.23); }
          .ruleNumber figcaption p{ margin: 0; padding: 0; color: #3c4458; font-family: 'Questrial', sans-serif; font-weight: bold; text-shadow: none; }
        #mainHead .wrapHeader .titleHead p, #mainHead .wrapHeader .titleHead p strong, hgroup.titFltr h1, hgroup.titFltr h2{ 
          font-weight: bold; text-shadow:  0px 2px 6px rgba(5,82,180,.89); color: white; /*text-shadow: -1px -1px 0 #06398c, 1px -1px 0 #000, -1px 1px 0 #06398c, 1px 1px 0 #06398c;*/ }
            #mainHead .wrapHeader .titleHead p span, #mainHead .wrapHeader .titleHead p strong, hgroup.titFltr h1, hgroup.titFltr h2{ position: relative; background: transparent; z-index: 0;  font-family: 'Questrial', sans-serif;  }
            #mainHead .wrapHeader .titleHead p span, hgroup.titFltr h1{ font-size: 120%; }
            #mainHead .wrapHeader .titleHead p strong, hgroup.titFltr h2{ font-size: 170%; }
            #mainHead .wrapHeader .titleHead p span:before, #mainHead .wrapHeader .titleHead p strong:before, hgroup.titFltr h1:before, hgroup.titFltr h2:before{ content: attr(title); position: absolute; -webkit-text-stroke: 0.2em #06398c;  left: 0; right: 0; z-index: -1; }

      /*MODAL REWARD*/
        .remodal.messages-mdl.reward-mdl{ background: #fffffc url("../img/modalRewardBG.png");
        outline: 1px solid #D3B470; 
        -webkit-box-shadow: 0px 0px 37px 10px rgba(252,246,195,0.74);
        -moz-box-shadow: 0px 0px 37px 10px rgba(252,246,195,0.74);
        box-shadow: 0px 0px 37px 10px rgba(252,246,195,0.74); }
            @-moz-document url-prefix() { outline: none; outline: 0; }

        .remRwrdClass{ background: transparent url("../img/modalRewardBG-stars.png") center center no-repeat; background-size: initial; }
        .remodal.messages-mdl.reward-mdl h2.mdl-subtitles{ color: #c92833 }
          .remodal.messages-mdl.reward-mdl .ctas-mdl-wrap a{ cursor: pointer; }
          .remodal.messages-mdl .ctas-mdl-wrap input.btn-red:hover{ background-color: #c61121; }
      /*PIXEL CONVERSOR*/
      iframe[name="google_conversion_frame"]{ display: block; height: 0; }
        /*NETS*/
        .netsSprt{ text-align: center; position: absolute; right: 0; top: 80px; z-index: 6; }
        .netsSprt h3{ display: block; text-align: center; font-family: "lobsterregular", sans-serif; font-size: 16px; color: #fff; line-height: 1.1em;  text-align: center;  }
          a.iconNet{ position: relative; text-indent: -9999px; width: 40px; height: 48px; margin: 0 auto; display: inline-block; background: transparent url("../img/spriteNets.png") center center no-repeat; } 
          a.iconNet.fbkIco{ background-position: center top; }
          a.iconNet.twtIco{ background-position: center bottom; }

/*WebKit Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) { }

@media (min-width: 1200px) {
  #mainHead .wrapHeader{ margin-bottom: -20px; }
  #rl-Numbr-1{ margin-top: 25px; max-width: 200px; left: 40px }
  #rl-Numbr-2{ margin-top: 35px; min-width: 290px; left: -20px }
  #rl-Numbr-3{ margin-top: 45px; right: -25px; }
  figure.span.four.ruleNumber.item{ margin-bottom: 0; }
}

@media screen and ( max-width: 1020px ){
   #mainHead .wrapHeader{ height: 270px; background-position: center bottom;  }
   #mainHead .wrapHeader .titleHead img{ max-width: 300px; }
}
@media only screen and (max-width: 767px) {
  #mainCow{ max-width: 445px; width: 100%; height: auto; }
    #mainCow img{ width: 100%; max-width: 333px; }
  #mainCow.intCow{ max-width: 260px; }
    #mainCow.intCow img{ width: 100%; max-width: 260px;  }
    #mainFoot p{ line-height: 1.1em; }
    #mainHead .wrapHeader{ height: 280px; }
  #mainCow{ 
    -webkit-transform-origin: 0%;
    -moz-transform-origin: 0%;
    -ms-transform-origin: 0%;
    transform-origin: 0%;
    -moz-transform: scale(.65);
    -webkit-transform: scale(.65);
    -o-transform: scale(.65);
    transform: scale(.65);
  }
    .ctasOnHov .boxPrnt .boxChld .btn-toHov-mdl{ display: none; }
      .netsSprt{ position: relative; top: 0; right: 0; left: 0; }
}

/*Retina iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #mainCow{ -webkit-transform-origin: 0%; -moz-transform-origin: 0%; -ms-transform-origin: 0%; transform-origin: 0%;
    -moz-transform: scale(.85); -webkit-transform: scale(.85); -o-transform: scale(.85); transform: scale(.85); }
}  


@media screen and (max-height: 769px) and (max-width: 1367px) and (min-height: 520px){
  #owl-intro-rules .item img#rl-Numbr-1{ margin-top: 35px; }
  introBlk.v-box{ margin-top: -40px; }
  #owl-intro-rules{ margin-top: -11px; }
    #owl-intro-rules{ -webkit-transform-origin: 50%; -moz-transform-origin: 50%;  -ms-transform-origin: 50%; transform-origin: 50%;
    -moz-transform: scale(.85); -webkit-transform: scale(.85); -o-transform: scale(.85); transform: scale(.85); }
}

/*FACEBOOK APP*/
@media screen and (min-width: 679px) and (max-width: 810px){
  #mainHead .wrapHeader .titleHead p{ margin-top: 110px; }
  .bodyIntro .container.v-wrap{ margin-top: 95px; }
  hgroup.titFltr h1{ margin-top: 50px; }
  #filterHeads{ max-height: 130px; }
   #mainCow{ -webkit-transform-origin: 0%; -moz-transform-origin: 0%; -ms-transform-origin: 0%; transform-origin: 0%;
    -moz-transform: scale(.85); -webkit-transform: scale(.85); -o-transform: scale(.85); transform: scale(.85); }
    #filterHeads ul{ min-width: 22%; max-width: 22%; }
    #owl-intro-rules .item img#rl-Numbr-1{ margin-top: -45px; }
    #filterHeads ul.filterCombo{ margin: 0 auto; width: 70%; max-width: 70%; min-width: 70%; display: block; }
    .internal #mainHead .wrapHeader .titleHead img{ min-width: 350px; }
}
/*FALLBACKS MOBILE*/
@media screen and (max-height: 678px) and (min-height: 520px){
  #mainHead{ margin-bottom: 10px; }
  #mainHead .wrapHeader{ height: 280px; background-position: center bottom;  }
  #mainHead .wrapHeader:before{ display: none; }
  .bodyIntro #mainFoot{ position: relative; padding-bottom: 10px; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
  #mainHead .wrapHeader .titleHead img{ max-width: 270px; margin-bottom: 10px; }
  #mainHead .wrapHeader .titleHead p{ margin-top: 0; margin-bottom: 0px; }
}

/**Retina iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) { #owl-intro-rules .item img#rl-Numbr-1{ margin-top: -35px; }
  .bodyIntro #mainFoot{ position: fixed !important; bottom: 0; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
}

/**Retina iPad in portrait**/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) { 
    #mainHead .wrapHeader .titleHead img{ min-width: 370px; }
    #filterHeads{ max-height: 130px; }
    #filterHeads ul{ min-width: 22%; max-width: 22%; }
    #filterHeads ul.filterCombo{ margin: 0 auto; width: 70%; max-width: 70%; min-width: 70%; display: block; }
}

/*iPhone 5 & 5S in landscape*/
@media only screen and (max-width:568px) {
  #mainHead{ background-size: cover; z-index: 10; }
  #mainCow{ max-width: 150px; }
  #bright{ right: -35px; top: -25px; }
  #mainHead .wrapHeader .titleHead p{ font-size: 90% }
   #mainHead .wrapHeader .titleHead p strong{ font-size: 120%; }
  .container.v-wrap{ overflow: hidden; }
  #owl-intro-rules .four{ width: 100%; }
  .owl-carousel .owl-wrapper-outer{ max-width: 305px; }
  .ruleNumber figcaption{ font-size: 13px; }
    figure.span.four.ruleNumber.item{ margin-bottom: 0; }
  #rl-Numbr-1, #rl-Numbr-2, #rl-Numbr-3{ max-width: 230px; display: block; margin: 0 auto; }
    #rl-Numbr-1{ position: relative; left: 12px; }
    #rl-Numbr-2{ position: relative; margin-top: 40px; max-width: 190px; }
    #rl-Numbr-3{ max-width: 250px; position: relative; margin-top: 32px; left: 27px; }
    /*.owl-carousel .owl-wrapper, .owl-carousel .owl-item{ margin-left: 1%; }*/
  #mainHead .wrapHeader{ height: 180px; background-size: cover;  height: 290px; }
    .netsSprt{ margin-top: 10px; }
  #mainHead .wrapHeader .titleHead{ width: 100%; text-align: right; }
  #mainHead .wrapHeader .titleHead img{ max-width: 200px; margin-top: 0px; margin-right: 30px;  }
  #mainFoot:before{ width: 100px; background-size: cover; height: 60px; }
  #mainFoot:after{ width: 100px; background-size: cover; height: 60px; }
  #mainFoot p{ padding: 0 20%; }
    #mainFoot p a{ display: block; }
    #mainFoot p span.pipe{ display: none; }
    .backstretch img{ margin-top: 0% !important }
  #mainCTA{ max-width: 270px; }
  hgroup.titFltr{ line-height: 1.5em; margin-top: -50px;  }
    .internal hgroup.titFltr{ line-height: 1.5em; margin-top: -120px;  }
    hgroup.titFltr h1{ font-size: 14px; padding: 0 4%; line-height: 1.4em; }
    hgroup.titFltr h2{ font-size: 20px; padding: 0 4%; margin-top: 15px; }
    #filterHeads{ max-height: 300px; }
    #filterHeads ul.filterCombo{  min-width: 90%; }
    #filterHeads ul{ max-width: 55%; min-width: 55%;  text-align: center; }
      #filterHeads ul li.btnFilter a{ text-align: center; }
      #filterHeads ul.filterCombo .dropDown a{ text-align: left; }
  .remodal-wrapper{ padding: 4%; }
    .remodal .btnModalToShare.cta-fbk-mdl, .remodal .btnModalToShare.cta-twt-mdl{ width: 80%; }
    .owl-wrapper .owl-item{ padding: 0 0px; }
      .remodal.story-mdl .audio-figure-toShare .simple-player-container{ background-color: transparent !important; margin-top: -120px; }
      .remodal.story-mdl .audio-figure-toShare .simple-player-container div ul li:first-child{ position: relative; top: -15px; left: 35px; }

}

/*Tablet & Mobile*/
@media only screen and (max-width:481px) {
  #mainHead .wrapHeader:before, #mainHead .wrapHeader:after{ display: none; }
  .owl-carousel .owl-item{}
  figure.span.four.ruleNumber.item{ padding-left: 0px; padding-right: 0; }
  #mainCow.intCow, #mainCow{ display: none;
    -webkit-transform-origin: 0%;
    -moz-transform-origin: 0%;
    -ms-transform-origin: 0%;
    transform-origin: 0%;
    -moz-transform: scale(.65);
    -webkit-transform: scale(.65);
    -o-transform: scale(.65);
    transform: scale(.65);
  }
  .bodyIntro #mainFoot{ position: relative; padding-bottom: 10px; }
   .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
    /*.story figcaption.ctasOnHov{ position: relative; opacity: 1; background-color: rgba(0,0,0,.6); }*/
    .internal #mainHead .wrapHeader .titleHead p{ margin-top: 20px !important; }
    .bodyIntro #mainHead .wrapHeader{ margin-bottom: -60px; }
    #mainHead .wrapHeader .titleHead{ text-align: center; }
      #mainHead .wrapHeader .titleHead img{ margin-right: 0; margin-bottom: 0; }
      /*NEW UPDATE VISUAL HOME*/
      .bodyIntro #mainHead .wrapHeader{ height: 270px; margin-bottom: -150px; }
      .bodyIntro #mainHead .wrapHeader .titleHead img{ max-width: 150px; }
      .bodyIntro #mainHead .wrapHeader .titleHead p{ margin-top: 15px; }
       .ruleNumber figcaption{ padding-top: 10px; padding-bottom: 10px; }
    .owl-carousel .owl-wrapper-outer{ max-width: 268px; }
    #owl-intro-rules .ruleNumber figcaption{ left: 5px; padding-right: 20px; margin-right: -10px; width: 88%; }
    #owl-intro-rules .four{ width: 100%; }
    #rl-Numbr-2{ max-width: 200px; }
    #rl-Numbr-3{ max-width: 260px; }
      .remodal.story-mdl .avatar-audio{ float: left; }
        #mainHead .wrapHeader .titleHead p span:before, #mainHead .wrapHeader .titleHead p strong:before, hgroup.titFltr h1:before, hgroup.titFltr h2:before{ content: ''; display: none; }
}
/*
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  .bodyIntro #mainFoot{ position: fixed; bottom: 0; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
}
*/

/*IPHONE 6 PLUS*/
@media only screen and (min-device-width : 414px) and (max-device-width : 667px) and (max-device-height : 736px){
  /* and (max-resolution: 401dpi)*/
  .bodyIntro #mainFoot{ position: fixed; bottom: 0; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
}
/*IPHONE 6*/
@media only screen and (min-device-width : 320px) and (max-device-width : 375px) and (max-device-height: 568px) {
  .bodyIntro #mainFoot{ position: fixed; bottom: 0; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
  /*body.internal .backstretch{ width: 100% !important; height: 100% !important; position: fixed !important; }
  body.internal .backstretch img{ position: fixed !important; height: 100% !important; width: 100% !important; } */
} 

/* < IPHONE 5 & > 4*/
@media only screen and (min-device-width : 320px) and (max-device-width : 479px)  {
  /*and (max-device-height : 480px)*/

  /*and (orientation: portrait)*/
  #owl-intro-rules .item img#rl-Numbr-1, #owl-intro-rules .item img#rl-Numbr-3{ left: -60px }
  .bodyIntro #mainHead .wrapHeader{ margin-bottom: -120px }
    #owl-intro-rules .item img{ position: relative; left: -80px; bottom: 0; z-index: 2; }
    .owl-carousel .owl-wrapper-outer{ max-width: 268px; }
    .ruleNumber figcaption{ font-size: 12px; }
      #owl-intro-rules .ruleNumber figcaption{ position: absolute; right: 0px; bottom: 0; width: 88%; text-align: right; }
    .bodyIntro #mainHead .wrapHeader{ height: 190px; margin-bottom: -100px; }
    #mainHead .wrapHeader .titleHead p strong{ font-size: 100%; }
    .bodyIntro #mainHead .wrapHeader .titleHead img{ max-width: 150px; position: absolute; left: 0; }
    .bodyIntro #mainHead .wrapHeader .titleHead p{ margin-top: 0px; max-width: 150px; text-align: right; padding-right: 10px; float: right; }
      #owl-intro-rules .ruleNumber figcaption p{ padding-left: 0%; }
    .bodyIntro #mainFoot{ position: relative; padding-bottom: 10px; }
    .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
}
/*IPHONE 6 HACK*/
@media only screen and (min-device-width : 320px) and (min-device-height : 568px) and (-webkit-device-pixel-ratio: 2){
  .bodyIntro #mainFoot{ position: fixed; bottom: 0; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }
}

@media only screen and (min-width : 315px) and (max-width : 415px) {

/*, only screen and (max-width: 480px) and (orientation : portrait)  */
  /*and (-webkit-min-device-pixel-ratio : 3)*/
  /*.bodyIntro #mainFoot{ position: fixed; bottom: 0; }
  .bodyIntro #mainFoot p{ margin-top: 0; margin-bottom: 0px; }*/
}
